<h1 style="color:blue"> <%= @estado %><h1/>
<hr>
<h3>Jugador A est치 en la posici칩n <%= @posA %><h1/>
<h3>Jugador B est치 en la posici칩n <%= @posB %><h1/>
<hr>
<p style="color:green"><%= @tableroA %></p>
<hr>
<p style="color:red"><%= @tableroB %></p>
<hr>
<form method="post" action="/dado">
	<input type="submit" value="tirarDado"/>
</form>
<h4> Salio el numero <%= @valorDado %><h1/>

