<h1>Jugador A est치 en la posici칩n <%= @posA %><h1/>
<h1>Jugador B est치 en la posici칩n <%= @posB %><h1/>

<p><%= @tableroA %></p>
<p><%= @tableroB %></p>

<h1> <%= @estado %><h1/>
<form method="post" action="/dado">
	<input type="submit" value="tirarDado"/>
</form>

